testing redirect  It is currently [% timest %]

<br>
room is [% roomName %]
roomid is [% room.$room_name %]
<br>
or roomid is [% room.$room_id.room_name %]
roomid is [% room.room_id.room_name %]

[% FOREACH room_id IN room.keys.nsort %]
<option value="[% room.$room_id.room_name %]">[% room.$room_id.room_name %]</option>
[% END %]

<p>test</p>
    [% FOREACH i IN timeHash.keys.nsort %]
    <p>[% timeHash.$i %]this is a test, time should go here</p>
    [% END %]
